In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime as dt
import matplotlib.pyplot as plt
import math

In [2]:
start_date = dt.datetime(2020,4,1)
end_date = dt.datetime(2023,4,1)
 
#loading from yahoo finance
data = yf.download("GOOGL",start_date, end_date)
 
# pd.set_option('display.max_rows', 4)
# pd.set_option('display.max_columns',5)

data.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-04-01  56.200001  56.471001  54.674500  55.105000  55.105000  51970000
2020-04-02  55.000000  56.138500  54.656502  55.851501  55.851501  56410000
2020-04-03  55.735500  55.939499  53.754002  54.634998  54.634998  51374000
2020-04-06  56.650002  59.537498  56.250000  59.159500  59.159500  63320000
2020-04-07  60.850498  61.039001  58.862499  59.127998  59.127998  61620000

In [3]:
# Setting 80 percent data for training
training_data_len = math.ceil(len(data) * .8)
training_data_len 

#Splitting the dataset
train_data = data[:training_data_len].iloc[:,:1] 
test_data = data[training_data_len:].iloc[:,:1]
print(train_data.shape, test_data.shape)

(605, 1) (151, 1)

In [8]:
# Selecting Open Price values
dataset_train = train_data.Open.values 
# Reshaping 1D to 2D array
dataset_train = np.reshape(dataset_train, (-1,1)) 
pd.DataFrame(dataset_train).head()
dataset_train.shape

(605, 1)

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
# scaling dataset
scaled_train = scaler.fit_transform(dataset_train)

print(scaled_train[:5])

scaled_train.shape

[[0.01246754]
 [0.        ]
 [0.00764156]
 [0.01714287]
 [0.0607844 ]]

(605, 1)

In [6]:
# Selecting Open Price values
dataset_test = test_data.Open.values 
# Reshaping 1D to 2D array
dataset_test = np.reshape(dataset_test, (-1,1)) 
# Normalizing values between 0 and 1
scaled_test = scaler.fit_transform(dataset_test) 
print(*scaled_test[:5])

[0.98362881] [1.] [0.83867656] [0.84481572] [0.86118691]

In [7]:
X_train = []
y_train = []
for i in range(50, len(scaled_train)):
	X_train.append(scaled_train[i-50:i, 0])
	y_train.append(scaled_train[i, 0])
	# if i <= 51:
	# 	print(X_train)
	# 	print(y_train)
	# 	print()

pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.012468,0.000000,0.007642,0.017143,0.060784,0.053558,0.061392,0.052727,0.072712,0.076109,...,0.166457,0.169195,0.174026,0.178026,0.174951,0.163969,0.169496,0.179345,0.187797,0.177158
1,0.000000,0.007642,0.017143,0.060784,0.053558,0.061392,0.052727,0.072712,0.076109,0.086826,...,0.169195,0.174026,0.178026,0.174951,0.163969,0.169496,0.179345,0.187797,0.177158,0.169278
2,0.007642,0.017143,0.060784,0.053558,0.061392,0.052727,0.072712,0.076109,0.086826,0.094390,...,0.174026,0.178026,0.174951,0.163969,0.169496,0.179345,0.187797,0.177158,0.169278,0.150384
3,0.017143,0.060784,0.053558,0.061392,0.052727,0.072712,0.076109,0.086826,0.094390,0.088255,...,0.178026,0.174951,0.163969,0.169496,0.179345,0.187797,0.177158,0.169278,0.150384,0.181299
4,0.060784,0.053558,0.061392,0.052727,0.072712,0.076109,0.086826,0.094390,0.088255,0.074135,...,0.174951,0.163969,0.169496,0.179345,0.187797,0.177158,0.169278,0.150384,0.181299,0.183345

In [12]:
X_test = []
y_test = []
for i in range(50, len(scaled_test)):
	X_test.append(scaled_test[i-50:i, 0])
	y_test.append(scaled_test[i, 0])

In [10]:
# The data is converted to Numpy array
X_train, y_train = np.array(X_train), np.array(y_train)

#Reshaping
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1],1))
y_train = np.reshape(y_train, (y_train.shape[0],1))
print("X_train :",X_train.shape,"y_train :",y_train.shape)

X_train : (555, 50, 1) y_train : (555, 1)

In [13]:
# The data is converted to numpy array
X_test, y_test = np.array(X_test), np.array(y_test)

#Reshaping
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1],1))
y_test = np.reshape(y_test, (y_test.shape[0],1))
print("X_test :",X_test.shape,"y_test :",y_test.shape)

X_test : (101, 50, 1) y_test : (101, 1)